.rotate-90 {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-left: 1rem; 
}

.bg-main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-main::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), #e5e7eb); /* gray-200 */
}